{% extends 'base.html' %}

{% block content %}




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" id="all">
                <div class="ibox-title">
                    <h5> CRONTAB SVN详细信息列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <form action="{% url 'crontab_update' %}" method="post" id="checkall">
                        <table class="table table-striped table-bordered table-hover " id="editable" name="editable">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center"> 实例名称 </th>
                                    <th class="text-center"> SVN url </th>
                                    <th class="text-center"> 本地路径 </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for info in status %}
                                <tr class="gradeX">
                                    <td class="text-center"  data-editable='false'>
                                        <input  name="project" value="{{ info.project }}" type="radio" class="i-checks" id='services' onchange="getSubmit(this.value)">
                                        <input  name="hostname" value="{{ info.hostname }}" type="hidden" class="i-checks">
                                        <input  name="username" value="{{ info.username }}" type="hidden" class="i-checks">
                                        <input  name="password" value="{{ info.password }}" type="hidden" class="i-checks">
                                        <input  name="localpath" value="{{ info.localpath }}" type="hidden" class="i-checks">
                                    </td>
                                    <td class="text-center"> {{ info.hostname }}</td>
                                    <td class="text-center"> {{ info.repo }} </td>
                                    <td class="text-center"> {{ info.localpath }} </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <input id='sub' class="btn btn-danger" type="submit" name="action" value="update" disabled="disabled">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function getSubmit(val) {
        var services = document.getElementsByName("project")
        var count = 0


        for (var i=0;i<services.length;i++) {

            if (services[i].checked) {
                count = count + 1
            }
        }


        if (count != 0){
                $("#sub").attr("disabled", false)
        }
        else {
                $("#sub").attr("disabled", true)
        }
    }
</script>

{% endblock %}

