{% extends 'base.html' %}
{% include 'link_css.html' %}
{% block content %}


<div class="text-center">
<form class="col-lg-12" action="{% url 'getData' %}" method="get">
  <div class="input-group my-group text-center" style="margin: 0px 0px 100px;">
    <span class="input-group-btn">
      <button class="btn btn-default active" type="submit">项目名称</button>
    </span>
    <select id="lunch" class="selectpicker form-control" data-live-search="true" name="goProject" title="Please select a lunch ...">
        {% for name in groupname %}
            <option>{{ name.name }}</option>
        {% endfor %}

    </select>
  </div>

  <div class="input-group my-group text-center">
    <span class="input-group-btn">
      <button class="btn btn-default active" type="submit">运行环境</button>
    </span>
    <select id="lunch" class="selectpicker form-control" data-live-search="true" name="env" title="Please select a lunch ...">
      <option value="1">生产环境</option>
      <option value="2">测试环境</option>
    </select>
  </div>

<br/>
    <input class="btn btn-danger" type="submit" value="Deploy">
</form>
</div>

{% endblock %}
</html>