
{% extends 'base.html' %}
{% block content %}
<script>
        id = 1
   		$(document).ready(function() {
   			flush_data = setInterval(function() {

                $.getJSON("/asset/getText/",function(data) {
                	//$.each(data, function(){
            		    $("#content").html('<pre style="border: none">' + data.info + '</pre>');
                        console.log(id)
                        id = id + 1
                        if (data.end == 'done' || data.end == 'error') {
                            console.log('stop')
                            window.clearInterval(flush_data)
                        }
                        if (data.info == '' && id == 3){
                           alert('celery is error,please try again.')
                           window.clearInterval(flush_data)
                        }
                    });
   		    }, 3000)
        })
   </script>
 </head>
 <body>
   <h1>Result:</h1>
   <p id="time"></p>
   <div id="content"></div> 
 </body>
</html>


   <div id="content"></div>

{% endblock %}

