
{% extends 'base.html' %}
{% block content %}
<script>

   		$(document).ready(function() {
   			a = setInterval(function() {
                id = 1
                $.getJSON("/asset/getText/",function(data) {
                	//$.each(data, function(){
            		    $("#content").html('<pre style="border: none">' + data.info + '</pre>');
                        console.log(id)
                        if (data.end == 'done' || data.end == 'error') {
                            console.log('stop')
                            window.clearInterval(a)
                        }
                    });
   		    }, 3000)
        })
   </script>
 </head>
 <body>
   <h1>Result:</h1>
   <p id="time"></p>
   <div id="content"></div> 
 </body>
</html>


   <div id="content"></div>

{% endblock %}

