{% extends 'base.html' %}

{% block content %}



 <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" id="all">
                <div class="ibox-title">
                    <h5> Services详细信息列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <form action="{% url 'revert' %}" method="get">

                        <table class="table table-striped table-bordered table-hover " id="editable" name="editable">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <input id="checkall" type="radio" class="i-checks" name="checkall" value="checkall" data-editable='false' onclick="check_all('asset_form')">
                                    </th>
                                    <th class="text-center"> 实例名称 </th>
                                    <th class="text-center"> 运行环境 </th>
                                    <th class="text-center"> salt minion </th>

                                </tr>
                            </thead>
                            <tbody>
                            {% for env,f in fileName.items %}
                                {% for salt,version in f.items %}
                                    {% for instance in version %}
                                <tr class="gradeX">
                                    <td class="text-center"  data-editable='false'>
                                        <input name="id" value="{{ env }},{{ instance }}" type="radio" class="i-checks">
                                    </td>
                                        <td class="text-center">{{ instance }}</a></td>
                                        <td class="text-center">{{ env }}</a></td>
                                        <td class="text-center">{{ salt }}</a></td>
                                    {% endfor %}
                                {% endfor %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-6">

{#                                 <input type="button" id="asset_update" class="btn btn-info btn-sm"  name="update_button" value="更新"/>#}
{#                                <input type="button" id="asset_update_all" class="btn btn-primary btn-sm"  name="update_button" value="更新全部"/>#}

                            </div>

                        </div>
                      <input class="btn btn-danger" type="submit" value="Restart">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</html>